/* this is my css*/
body{
    font-family: Arial, Helvetica, sans-serif;
    /* color: brown; */
    /* background-color:skyblue; */
    background-color:#ffffcc;
    background-image: url('../images/cage.jpg');

}
img{
    border: 10px solid greenyellow;
}
h1{
    border: 5px dotted blueviolet;
    color:white;

}
h1{
    border:20x;
    color:red;
}

blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cyan;
    font-size:3rem;/*1 rem =16px*/
    font-style: bold;
    text-align: center;

}
cite{
    font-size: 1.5rem;
}
.bold{
    font-style: bold;
    font-size: 1.2rem;
    
}
